html {
  background: #2e2e2e;
  font-family: system-ui, -apple-system, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

h1 {
  font-style: italic;
  /* font-size: 1em; */
  color: #ff8000;
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
  /* font-size: 1em; */
  /* font-size: 2em; */
  color: #ff8000;
  text-transform: uppercase;
}

p {
  color: #9d9d9d;
  font-size: 1em;
  text-decoration: none;
}

a {
  text-transform: lowercase;
  color: #9d9d9d;
  font-size: 0.8em;
  text-decoration: none;
  display: block;
  margin-bottom: 2px;
}

a:hover {
  color: #cc6600;
}

#title {
  width: 250px;
  margin-top: 0px;
}

#clock {
  float: left;
}

.tag p {
  /* font-size: 0.6em; */
  text-transform: lowercase;
  color: #ff8000;
}

#container {
  height: 450px;
  width: 800px;
  background: #2e2e2e;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 75px;
  border-bottom: 2px dotted #ff8000;
}

.block {
  float: left;
  margin-right: 50px;
  width: auto;
  background: transparent;
}

#weather {
  float: right;
  width: 170px;
  margin-top: 10px;
}

#quote {
  height: auto;
  width: 800px;
  background: #2e2e2e;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin-left: auto;
  margin-right: auto;
  margin-top: -125px;
}

.AWAD_title {
  color: #2e2e2e;
}
.AWAD_quotation {
  color: #9d9d9d;
}
.AWAD_byline {
  color: #2e2e2e;
  font-style: italic;
}
